<div class="main">

  <div class="header">
    <div class="name-image">
      <h2 class="name">{{myself?.['name']}}</h2>
      <img class="image" src="{{myself?.['image']}}" alt="">
    </div>
    <p class="contacts">
      <span title="Frederikssundsvej 418, 2700">{{myself?.['address']}}</span>
      <a title="click to call" href="tel: {{myself?.['phone']}}" class="contact">{{myself?.['phone']}}</a>
      <a title="click to send email" href="mailto: {{myself?.['email']}}" class="contact">{{myself?.['email']}}</a>
      <a title="link to LinkedIn" class="contact" href="{{myself?.['linkedIn']}}">LinkedIn</a>
      <a title="link to github" class="contact" href="{{myself?.['gitHub']}}">GitHub</a>
    </p>
  </div>


  <section *ngFor="let item of experience; let i=index;" class="section">
    <h3 title="click to expand" class="topics" (click)="expand(i)">{{item.type}}</h3>
    <hr>
    <div class="all-sections" *ngIf="i===showMore">
      <div class="each-section" *ngFor="let eachItem of item?.all">
        <h4 class="company-name">{{eachItem?.['name']}}</h4>
        <p class="position">{{eachItem?.['position']}}</p>
        <div class="address-duration">
          <p class="address">{{eachItem?.['address']}}</p>
          <p class="duration">{{eachItem?.['date']}}</p>
        </div>
        <hr>
        <h5 class="heading">Coursework:</h5>
        <ul class="features">
          <li *ngFor="let feature of eachItem?.features">{{feature}}</li>
        </ul>
        <p *ngIf="eachItem?.note" class="note">{{eachItem?.note}}</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h3 class="topics">Languages</h3>
    <hr>
    <p class="languages">
      <span *ngFor="let lang of languages">{{lang}}</span>
    </p>
  </section>
</div>
